# Ignorar entornos virtuales
.venv/
__pycache__/

# Ignorar datasets e imágenes crudas
dataset/
CAVE_Raw/
Harvard_Raw/
*.png
*.jpg
*.jpeg

# Ignorar pesos de modelos (pesan mucho)
checkpoints/
*.pth

# Ignorar archivos comprimidos y de datos pesados
*.zip
*.mat

# Ignorar la carpeta de dashboards generados
dashboards/