# Ignorar entornos virtuales y caché
**/.venv/
**/__pycache__/

# Ignorar datasets pesados
**/dataset/
**/CAVE_Raw/
**/Harvard_Raw/
**/*.png
**/*.jpg

# Ignorar pesos de modelos, zips y datos de matlab
**/checkpoints/
**/*.pth
**/*.zip
**/*.mat

# Ignorar imágenes del dashboard
**/dashboards/